/**
 * Alert.
 *
 * Override Bootstrap's component styles.
 */

.alert {
  border: none;
  font-style: italic;
  margin: 0;
  padding-top: .8em;
  padding-bottom: .8em;
  text-align: center;

  abbr[title] {
    border: none;
  }
}
