///
/// Consortium result definition list styles.
///

.consortium-result-list {
  margin-bottom: 8px;

  dt,
  dd {
    float: left;
    padding: 2px 8px;
  }
  dt {
    clear: left;
    font-weight: 500;
    width: 18rem;
  }
}
