/**
 * Alert.
 *
 * Override Bootstrap's component styles.
 */

.alert {
  border: none;
  font-style: italic;
  margin: 0;
  padding-top: .8em;
  padding-bottom: .8em;
  text-align: center;

  abbr[title] {
    border: none;
  }
}

/**
 * Notifications.
 *
 * Override react-notification-system-redux component styles.
 */

.notification {
  border-radius: 0 !important;
  border: none !important;
  opacity: 0.75 !important;
  box-shadow: none !important;
}
