$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "./alert";
@import "./computation-field";
@import "./computation-select";
@import "./consortium-card";
@import "./consortium-computation-selector";
@import "./consortium-single";
@import "./consortium-result";
@import "./consortium-result-list";
@import "./consortium-result-table";
@import "./pipeline-step";
@import "./page-header";
@import "./project-card";
@import "./project-covariates-mapper";
@import "./project-file";
@import "./project-form";
@import "./table.scss";
@import "./user-account";
@import "./user-list";

.bold {
  font-weight: bold;
}

.screen {
  min-height: 100vh;
  padding-top: $grid-gutter-width / 2;
  padding-bottom: $grid-gutter-width / 2;
}
.screen__content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}

/**
 * Logo
 */
.logo {
    margin: 0 0 2rem;

    &:before {
        background: url(../../../img/icons/png/256x256.png) no-repeat;
        background-size: contain;
        content: '';
        display: inline-block;
        height: 4rem;
        margin: 0 .75rem 0 0;
        width: 4rem;
        vertical-align: top;
    }

    abbr[title] {
        border: none;
        text-decoration: none;
    }
}

/**
 * Account
 *
 * @todo  Refactor styles into modules
 */
.account {
  background: $gray-lighter;

  .nav-pills {
    margin: 0 0 2rem;
  }
}


/**
 * Navigation
 */
.main {
  position: relative;
}

.dashboard {
  background: $gray-lighter;
}

.navigation {
  > nav .glyphicon {
    display: inline-block;
    margin-right: 1rem;
  }
  @media (min-width: $screen-sm) {
    padding: $grid-gutter-width / 2 0;

    .logo {
        margin-bottom: 2rem;
    }
    > nav {
        flex-grow: 1;
    }
  }
}

.nav-item-page-title {
  display: inline-block;
}

/**
 * Content pane
 */
.content-pane {
  background: white;
  min-height: 100vh;
  @media (min-width: $screen-sm) {
    padding: $grid-gutter-width / 2;
  }
}


/** File items */
.file-item {
    margin: 2rem 0;

    ul {
        margin-bottom: 0;
    }
}
.file-item__name {
    margin-top: 0;
}

/** Consortia */
.dashboard-consortia > .row > .col-sm-6:nth-child(odd) {
    clear: both;
}
.consortium {

}
.consortium .btn-toolbar {
    .glyphicon {
        margin-right: .5rem;
    }
}
.consortium__tags .label {
    margin: 0 .5rem .5rem 0;
}

/** Page header with button */
.page-header .btn {
    margin-top: 2.5rem;
}
.page-header .btn strong {
    margin-right: .5rem;
}

ul#loading_list {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 0px;
    list-style: none;
    font-style: italic;
    font-size: x-small;
    background: cornflowerblue;
}

#loading_list li {
    padding: 2px 5px 2px 0;
}

#add_project {
    margin-top: -5em;
}
