/**
 * Computation field.
 */

.computation-field-number > div {
  display: flex;

  input {
    margin-right: 1rem;
    margin-left: 1rem;
    max-width: 10rem;
    text-align: center;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
