///
/// Consortium result table styles.
///

.consortium-result-table {
  margin-bottom: 16px;

  > thead > tr > th {
    border-bottom: none;
  }

  tr > *:first-child {
    width: 18rem;
  }

  th {
    font-weight: 500;

    .text-muted {
      font-weight: 400;
    }
  }
}
