///
/// Consortium result styles.
///

.consortium-result h4 {
  border-top: 2px solid #ddd;
  font-size: 16px;
  font-weight: 700;
  margin: 32px 0 8px;
  padding: 12px 8px 0;

  .label {
    border-radius: 100%;
    display: inline-block;
    font-size: 1.15rem;
    line-height: 1.5em;
    margin-left: .5em;
    padding: 0;
    vertical-align: top;
    width: 1.5em;
  }
}

.consortium-result samp {
  font-size: 12px;
  line-height: 1.667;
}

.consortium-result .panel-heading a {
  display: block;
  position: relative;
}
.consortium-result .panel-heading .glyphicon-chevron-down {
  font-size: 14px;
  font-weight: 700;
  opacity: .5;
  position: absolute;
  right: 0;

  &.open {
    transform: rotate(180deg);
  }
}