///
/// Consortium result styles.
///

.consortium-result h4 {
  border-top: 2px solid #ddd;
  font-size: 16px;
  font-weight: 700;
  margin: 32px 0 8px;
  padding: 12px 8px 0;
}

.consortium-result samp {
  font-size: 12px;
  line-height: 1.667;
}