///
/// Maps List
///
///

.mapped {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  bottom: 1rem;
  right: 1.5rem;
}

.true {
  background: #5cb85c;
}

.false {
  background: #d73d32;
}
