///
/// Maps Collection
///
///

.card-deck {
  margin: 2rem 0 1rem 0;
  display: inline-block;
  background: #F5F5F5;
  border: 3px dashed #DDD;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
  min-height: 50px;
}

.card-draggable {
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0 1rem 0 2.25rem;
  position: relative;
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease-in-out;
  line-height: 3rem;
  height: 3rem;
}

.card-draggable:hover {
  cursor: -webkit-grab;
  cursor: grab
}

.card-draggable:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
