///
/// Page Header
///
/// Override Bootstrap's `.page-header` styles.
///

.page-header {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;

  h1 {
    margin: 5px 0;
  }
}
