///
/// Project File
///
/// Representation of a file in a prject context that can be removed via a
/// button.
///

$border-radius: 5px !default;

.project-file {
  border: thin solid $gray-lighter;
  border-radius: $border-radius;
  padding: .9em 1rem .8em 5.25rem;
  position: relative;
}
.project-file-has-btn {
  padding-right: 5.25rem;
}

.project-file-icon {
  font-size: 200%;
  height: 100%;
  left: 1.25rem;
  opacity: .5;
  padding-top: 1.66rem;
  position: absolute;
  text-align: center;
  top: 0;
  width: 3rem;
}
.project-file-base {
  display: block;
  //font-size: $font-size-h4;
  //line-height: $headings-line-height;
  margin: 0 0 .2em;
}
.project-file-btn {
  // color:  $gray-light;
  font-style: italic;
  height: 100%;
  padding-left: 3rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 6rem;
}
