/**
 * Project Covariates Mapper.
 */
.project-covariates-mapper {
  margin-bottom: 1rem;
  margin-top: 1.5rem;

  .form-group {
    font-weight: 400;
    margin-bottom: .75rem;
  }
  .form-control {
    font-size: 12px;
    height: 30px;
  }
  th {
    //vertical-align: top;

    .glyphicon {
      display: inline-block;
      font-size: 75%;
      margin-left: .25em;
      vertical-align: .25em;
    }
  }
}
