///
/// Project Form
///

$border-radius: 5px !default;
$vertical-breakpoint: 38em;

.project-form {
  @media (min-height: $vertical-breakpoint) {
    display: flex;
    flex-direction: column;
    // height: 100vh;
  }
}

.project-form-section-header {
  margin-bottom: 1em;

  h2 {
    margin: 0;
  }
  .label {
    font-size: 45%;
    vertical-align: .4em;
  }
}

.project-form-fields {
  padding-bottom: 2em;
}
.project-form-files {
  padding-bottom: 2em;

  @media (min-height: $vertical-breakpoint) {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-shrink: 2;
  }

  .project-form-section-content {
    max-height: 22em;
    overflow-y: scroll;
    padding-right: 10px;

    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background: #ddd;
      border-radius: $border-radius;
    }
    &::-webkit-scrollbar-thumb {
      background: #666;
      border-radius: $border-radius;
      height: 30px;
    }

    @media (min-height: $vertical-breakpoint) {
      flex-grow: 2;
    }
  }
  ul {
    margin: 0;
  }
  li + li {
    margin-top: .5em;
  }
}
.project-form-meta {
  padding-bottom: 1.5em;

  @media (min-height: $vertical-breakpoint) {
    flex-shrink: 0;
  }
}
.project-form-controls {
  background: #fff;
  // bottom: 0;
  // left: 0;
  padding-bottom: 1.5em;
  // position: absolute;
  // width: 100%;

  .btn-link {
    // color: $gray;

    &:focus,
    &:hover,
    &:active {
      color: $brand-danger;
    }
  }
}
