#splash-component {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eee;
  transition: opacity 0.5s ease-out;
  padding-top: 6rem;
  margin: 0;
}

#splash-component.fade-out {
  opacity: 0;
}

#splash-component .logo {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}

#splash-component .logo::before {
  background: url('../../../img/icons/coinstac-icon.png') no-repeat;
  background-size: contain;
  content: '';
  height: 8rem;
  width: 8rem;
  vertical-align: top;
  position: absolute;
  left: -4rem;
  top: -9rem;
}

#splash-component .loading-text {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
}

#splash-component .activity-indicator {
  font-size: 50px; /* 1em */
  width: 1em;
  height: 1em;
  margin: 10px 10px;
  z-index: 10;
  list-style: none;
  border-radius: 50%;
  position: relative;
}

#splash-component .activity-indicator.is-loading li {
  width: .2em;
  height: .2em;
  position: absolute;
  border-radius: 50%;
}

#splash-component .activity-indicator.is-loading li:nth-child(1) {
  background: #ED5A2D; /* Blue */
  top: 0;
  left: 50%;
  margin-left: -.1em; /* Width/2 */
  transform-origin: 50% 250%;
  animation:
    rota 0.55s linear infinite,
    opa 3.67s ease-in-out infinite alternate;
}

#splash-component .activity-indicator.is-loading li:nth-child(2) {
  background: #364C59; /* Red */
  top: 50%;
  right: 0;
  margin-top: -.1em; /* Height/2 */
  transform-origin: -150% 50%;
  animation:
    rota 1.42s linear infinite,
    opa 4.29s ease-in-out infinite alternate;
}

#splash-component .activity-indicator.is-loading li:nth-child(3) {
  background: #1CB8B7; /* Yellow */
  bottom: 0;
  left: 50%;
  margin-left: -.1em; /* Width/2 */
  transform-origin: 50% -150%;
  animation:
    rota 0.61s linear infinite,
    opa 5.12s ease-in-out infinite alternate;
}

#splash-component .activity-indicator.is-loading li:nth-child(4) {
  background: #728D98; /* Green */
  top: 50%;
  left: 0;
  margin-top: -.1em; /* Height/2 */
  transform-origin: 250% 50%;
  animation:
    rota 0.85s linear infinite,
    opa 5.25s ease-in-out infinite alternate;
}

#app > .app {
  opacity: 0;
  transition: opacity 0.8s ease-in;
}

#app > .app.fade-in {
  opacity: 1;
}

@keyframes rota {
  to { transform: rotate(360deg); }
}

@keyframes opa {
  12.0% { opacity: 0.80; }
  19.5% { opacity: 0.88; }
  37.2% { opacity: 0.64; }
  40.5% { opacity: 0.52; }
  52.7% { opacity: 0.69; }
  60.2% { opacity: 0.60; }
  66.6% { opacity: 0.52; }
  70.0% { opacity: 0.63; }
  79.9% { opacity: 0.60; }
  84.2% { opacity: 0.75; }
  91.0% { opacity: 0.87; }
}
