/**
 * User account.
 *
 * Styles for the user account area in the sidebar.
 *
 * @todo Rename component.
 */

.user-account {
  .media-left {
    padding-right: 15px;
  }
  .btn {
    text-align: inherit;
  }
  .btn-block {
    margin-left: -12px;

    + .btn-block {
      margin-top: 0;
    }
  }
}
.user-account-name {
  font-size: 100%;
  font-weight: 700;
  line-height: inherit;
  margin: 0 0 .25rem;
}
.user-account-email {
  color: $gray;
  font-size: 12px;
  font-style: italic;
  margin: 0 0 .5rem;
}
