/**
 * Computation field.
 */

.computation-field-number > div {
  display: flex;

  input {
    margin-right: 1rem;
    margin-left: 1rem;
    max-width: 10rem;
    text-align: center;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

/**
 * 'Covariate'-style computation field.
 *
 * @todo Move to separate partial.
 */
.computation-field-covariates {
  legend {
    border: none;
    font-size: 100%;
    font-weight: 700;
    line-height: inherit;
    margin-bottom: 1rem;
  }

  li {
    border-top: 1px solid $gray-lighter;
    padding-top: 1rem;

    &:first-child {
      border-top: none;
      padding-top: 0;
    }

    label {
      font-weight: 400;
    }
    button {
      margin-top: 2.5rem;
    }
  }
}