/**
 * Project card.
 */

.project-card {
  position: relative;


  .panel-heading {
    @extend .clearfix;
  }
  .panel-title {
    float: left;
  }
  .project-status {
    float: right;
    font-size: 80%;
  }
}

.project-status {
  font-size: 80%;

  &.is-active .glyphicon {
    animation: project-card-spin 1500ms linear infinite;
  }
}

@keyframes project-card-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
